{% extends 'base.html' %}

{% block title %}cOOci Space{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SpaceStyle.css') }}">
{% endblock %}

<!-- Content Section -->
{% block content %}
    <!-- Canvas Containers -->
    <div class="canvas-container">
        <h1 id="btn" class="mytxt" > Space third person </h1>
        <canvas id="canvas1"></canvas>
    </div>

    <!-- JavaScript files -->
    <script src="{{ url_for('static', filename='js/SpaceScript.js') }}" type="module"></script>
{% endblock %}